body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
}

.footer-baner {
    height: 650px;
    width: 1320px;
    margin: 50px 140px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),rgba(0,0,0,0)),url('resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.footer-heading {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 117px;
}

.fotter-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-bottom: 117px;
}

.off {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.off-info {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.off-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.img-section {
    margin: 0px 399px;
}

.welcome-banner {
    height: 650px;
    width: 1320px;
    margin: 50px 140px;
    background-image: url('resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

.welcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
}

.welcome-discription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.welcome-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: #070211;
}

.welcome-text {
    margin: 126px 0px 0px 126px;
    padding-top: 126px;
}

.red {
    color: #F00;
}

.date-text {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    padding-top: 100px;
}

.date-back {
    height: 482px;
    width: 1320px;
    margin: 50px 140px;
    background: linear-gradient(180deg, pink, white);
    border-radius: 15px;
}

.join {
    border-radius: 8px;
    background: #F00;
    color: wheat;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 32px;
    border-style: none;
}

.three-heading {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.three-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.three-red {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.three-div {
    display: flex;
    margin: 100px 140px;
    gap: 150px;
}

.img-redious {
    border: 5px solid red;
    padding: 20px;
    border-radius: 300px;
}

.holi-day-heading {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.holi-day-taitel {
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.holi-day-discrip {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.portfolio-intro {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-discription {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-text {
    padding-left: 140px;
}

.profile-img {
    padding: 40px 140px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sub-border {
    height: 616px;
    width: 1320px;
    margin: 120px 140px 50px 140px;
    background: rgba(255, 0, 0, 0.05);
    border-radius: 15px;
}

.sub-icon {
    justify-content: center;
    padding: 80px 585px 0px 585px;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.sub-discription {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

input {
    width: 500px;
    height: 69px;
    border-radius: 15px, 0px;
    text-align: center;
}

.redious-btn {
    height: 72px;
    width: 210px;
    margin-left: -5px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-weight: 600;
}

.btn-center {
    text-align: center;
}

footer {
    width: 1575px;
    height: 609px;
    background-color: #070211;
}

.footer-disc-text {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer-top{
    display: flex;
    padding: 120px 140px;
    gap:550px ;
}
.footer-icon{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.footer-down{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 140px;
    gap: 600px;
    display: flex;
}
.six-img:hover{
    border: 2px solid red;
    border-radius: 11px;
}